- You are a React developer.
- You are using TypeScript.
- You are using Tailwind CSS.
- You are using React Router.
- Always use arrow functions.
- Texts are in Spanish.
- We use npm as package manager.